body {
    background: rgb(179, 185, 187);
  }
  
  .skyblue {
    background: rgb(108, 177, 200);
  }
  
  .box{
    padding: 10px;
    background: rgb(250, 245, 245);
    margin-top:45px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:25px;
    align-content: center;
  }
  
  .navbar {
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
    background: rgb(153, 165, 179);
  }
  
  .navbar li {
    display: d-block;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
    cursor: default;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 20px;
  }
  
  p{
      font-size: 16px;
  }
  
  .c-d{color:white;
    font-size: 28px;
  }
  
  .latitude {
    color: white;
    font-family: optima;
    font-size: 40px;
    background-color: rgb(29, 160, 160);
    border: 1px solid rgb(2, 6, 8);
      padding: 20px;
  }

  @media (max-width: 500px) {
    .navbar li {
      padding: 15px;
    }
    .box {
      margin-right: 20px;
      margin-left: 20px;
    }
    .navbar ul {
      visibility: hidden;
    }
    #nav-select {
      visibility: visible;
    }
  }
  
  .col-1 {width: 8%;}
  .col-2 {width: 17%;}
  .col-3 {width: 24%;}
  .col-4 {width: 32%;}
  .col-5 {width: 40%;}
  .col-6 {width: 50%;}
  .col-7 {width: 60%;}
  .col-8 {width: 65%;}
  .col-9 {width: 75%;}
  .col-10 {width: 82%;}
  .col-11 {width: 92%;}
  .col-12 {width: 100%;}
  
  @media only screen and (max-width: 766px) {

      [class*="col-"] {
          width: 100%;
      }
  }